body {
    background: -webkit-linear-gradient(left, #bfff00, #86b300);
    background: -o-linear-gradient(right, #66ff66, #006600);
    background: -moz-linear-gradient(right, #4dff4d, #006600);
    background: linear-gradient(to right, #9900ff, #00FF00);
    background-color: #9900ff
}
