body {
    background: -webkit-linear-gradient(left, #bfff00, #86b300);
    background: -o-linear-gradient(right, #66ff66, #006600);
    background: -moz-linear-gradient(right, #4dff4d, #006600);
    background: linear-gradient(to right, #000066, #003300);
    background-color: #00ff00;
}
    .center-img {
        text-align: center;
    }
.warning {
    border: 10px ridge #bfff00 ;
    background-color:  #f00;
    padding: .5rem;
    display: flex;
    flex-direction: column;
}

.header {
    text-align: center;
}

.shadowbox {
    width: 15em;
    border: 1px solid #333;
    box-shadow: 8px 8px 5px #444;
    padding: 8px 12px;
    background-image: linear-gradient(180deg, #fff, #ddd 40%, #ccc);
}