body{
    background: -webkit-linear-gradient(left, #bfff00, #86b300);
    background: -o-linear-gradient(right, #66ff66, #006600);
    background: -moz-linear-gradient(right,#4dff4d ,#006600 );
    background: linear-gradient(to right,#FF0000, #a64dff);
    background-color: #FF0000;
}
.center-img {
    text-align: center;
}
.warning {
    border: 10px ridge #f00;
    background-color: #ff0;
    padding: .5rem;
    display: flex;
    flex-direction: column;
}

#ins
{
    color: white;
    size: 100px;
}
