body {
    background: -webkit-linear-gradient(left, #bfff00, #86b300);
    background: -o-linear-gradient(right, #66ff66, #006600);
    background: -moz-linear-gradient(right, #4dff4d, #006600);
    background: linear-gradient(to right, #000066, #003300);
    background-color: #00ff00;
}
#tit {
    text-align: center
}

#text {
    color: #404040;
    font-size: 32px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    width: 100%;
    display: flex;
}
.block2 {
    display: flex;
    flex-direction: row;
}

.videoUrl {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#url {
    color: white;
    size: 100px;
}
